

.btn{
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #818285;
  border: none;
  border-radius: 25px;
 width: 30%;
}


.btn:hover{background-color: #FF8400; }

.btn:active {
  background-color: #818285;
  transform: translateY(4px);
}