.App .English-page{

    text-align: center;
  }
  
  .instruction{
      font-family: Helvetica, sans-serif
  }
  
  .title{
      font-family: Verdana, Tahoma, sans-serif;
      font: bolder;
  }
  
  
  .return_button{
      margin-top: 25px;
      margin-bottom: 20px;
      height: 50px;
      width: 200px;
      border-radius: 20px;
      font-size: 20px;
      background-color: #818285;
      color: white;
      font-style: helvetica;
      border: 1px solid black;
  
  }