


.start{
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: #ff8400;
    border: none;
    border-radius: 25px;
    margin-left: 0%;
    padding-top: .5em;
    padding-bottom: .5em;
    }
    
    .start:hover{
        background-color: #FF8400;
    }
    
    .start:active{
        background-color: #818285;
        transform: translateY(4px)
    }
    
 
    .signup{
      display: inline-block;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: white;
      background-color: #818285;
      border: none;
      border-radius: 25px;
      margin-top: 15px;
      width:16em;
     
    }
    .signup:hover{
        background-color: #FF8400;
    }
    
    .signup:active{
        background-color: #818285;
        transform: translateY(4px)
    }
    
    .Pw{
      display: inline-block;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: white;
      background-color: #818285;
      border: none;
      border-radius: 25px;
      width: 100%;
      height: 30px;
      margin-top: 40px;
    }
    
    .Pw:hover{
        background-color: #FF8400;
    }
    
    .Pw:active{
        background-color: #818285;
        transform: translateY(4px)
    }

    
    .play-butn {
        font-family: sans-serif;
        min-width: 100%;
        margin-top: 15px;
        padding-top: -.1em;
        padding-bottom:.5em;
        border: none;
        border-radius: 30px;
        background-color: #818285;
        color: #ffffff;
        font-weight: bold;
        
    }

    