.title {
    color: black;
    
}

.main {
    
    height: 200px;
    width: auto;
    margin-right: 10%;
    margin-bottom: 10%
}

.wel-btn {
    display: flex;
   justify-content: center;
   justify-content: space-evenly;
    
}

.box {
    display:flex;
    justify-content: center;
}

