<<<<<<< HEAD
.main{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;

}

.wel-title{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.main-pic{
    display: flex;
    justify-content: center;
}

.wel{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    color: #ff8400;
}
=======
.title {
    color: black;
    
}

.main {
    
    height: 200px;
    width: auto;
    margin-right: 10%;
    margin-bottom: 10%
}

.wel-btn {
    display: flex;
   justify-content: center;
   justify-content: space-evenly;
    
}

.box {
    display:flex;
    justify-content: center;
}

>>>>>>> b470267ac7e818c4b3c9151f96d94d42b72f74f8
