.form-control {
    background-color: #818285;
    border: none;
    border-radius: 25px;
    min-width: 20%;
    }

.btn{
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #818285;
  border: none;
  border-radius: 25px;
 
}

.logo {
  display: flex;
  justify-content: center;
}


.btn:hover{background-color: #FF8400; }

.btn:active {
  background-color: #818285;
  transform: translateY(4px);
}


.pw{
  margin-left: 60%;
}
.link{
  margin-left: 5%;
}