@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');


* {
  box-sizing: border-box; 
}

button,.game-home {
  border:none;
  background:none;
  
}


html{
  width: auto;
  height: 100%;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
  border: black solid .5px;
  border-radius: 25px;
 
  
  }



.App, body, #root, .container, div.App{
  display:flex;
  height:100%;
  justify-content: center;
  align-self: flex-end;
  border-radius: 25px;
  margin:0;
}

.container{
  margin:none;
  padding:none;
}



.row {
  display:flex;
  justify-content: center;
  
}

.form-cntrl {
  background-color: #243e90;
  border: none;
  border-radius: 25px;
  
  }

  .label {
    font-size: 3em;
  }

 


.forgot-password,
.forgot-password a {
  text-align: right;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #f47d26;
}


.new-nav{
  display:flex;
  justify-content: center;
}


.navi{
  display: flex;
  justify-content: center;
  margin-left: 3.6em;
  font-size: 1.5em;
  color: #243e90;
  border-bottom: 1px solid black;
}



/* Main Welcome CSS */


.main-start{
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: -2em;
  margin-bottom:3em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #f47d26;
  border: none;
  border-radius: 25px;
  padding: 20px 20px; 
}

.main-wel{
  margin-top: 4em;
}

.main-to{
  margin-top: 2em;
}

.main-copyright{
  margin-top:1em;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}




.logo{
    animation: fill 0.5s ease forwards 3s;
    display: flex;
    justify-content: center;
    
}




.logo path:nth-child(1){
  stroke-dasharray:500px;
   stroke-dashoffset: 500px;
   animation: line-anim 2s ease forwards 1.2s;
   
   
}

.logo path:nth-child(2){
   stroke-dasharray: 500px;
   stroke-dashoffset: 500px;
   animation: line-anim 2s ease forwards 1.8s;
}



.logo path:nth-child(3){
  stroke-dasharray:500px;
   stroke-dashoffset: 500px;
   animation:line-anim 2s ease forwards 2.6s;
}


.logo path:nth-child(4){
    stroke-dasharray:500px;
   stroke-dashoffset: 500px;
    animation:line-anim 2s ease forwards 3.4s;
}

.logo path:nth-child(5){
    stroke-dasharray:200px;
     stroke-dashoffset: 200px;
      animation:line-anim 2s ease forwards 3.8s;
}

.logo path:nth-child(6){
  stroke-dasharray:200px;
   stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 3.8s;
}


.logo path:nth-child(7){
  stroke-dasharray:200px;
   stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 4s;
}


.logo path:nth-child(8){
  stroke-dasharray:200px;
   stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 4.2s;
}


.logo path:nth-child(9){
  stroke-dasharray:200px;
   stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 4.4s;
}

.logo path:nth-child(10){
  stroke-dasharray:200px;
   stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 4.6s;

}



.logo path:nth-child(11){
  stroke-dasharray:200px;
   stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 4.8s;

}


.logo path:nth-child(12){
  stroke-dasharray:200px;
   stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 5.0s;

}


.logo path:nth-child(13){
  stroke-dasharray:200px;
   stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 5.2s;

}


.logo path:nth-child(14){
  stroke-dasharray:200px;
   stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 4.4s;

}


.logo path:nth-child(15){
  stroke-dasharray:200px;
   stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 4.4s;

}


.logo path:nth-child(16){
  stroke-dasharray:200px;
   stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 3.8s;

}


.logo path:nth-child(17){
  stroke-dasharray:200px;
   stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 3.8s;

}


.logo path:nth-child(18){
  stroke-dasharray:200px;
   stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 3.6s;

}


.logo path:nth-child(19){
  stroke-dasharray:200px;
   stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 3.6s;

}


.logo path:nth-child(20){
  stroke-dasharray:200px;
   stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 1.6s;

}


.logo path:nth-child(21){
  stroke-dasharray:200px;
   stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 3.6s;

}


.logo path:nth-child(22){
  stroke-dasharray:200px;
   stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 3.6s;


}


.logo path:nth-child(23){
  stroke-dasharray:200px;
  stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 3.6s;
}



 
 @keyframes line-anim{
     to{
stroke-dashoffset:0;
     }
 }

/* Welcome Screen CSS */

.main{
  display: flex;
  justify-content: center;
  height:100px;
  width:100px;

}

.wel-title{
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  font-family:  Helvetica, sans-serif;
  color: #f47d26;
  font-weight: 600;
}

.main-pic{
  display: flex;
  justify-content: center;
  height:150px;
}

.wel{
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  color: #f47d26;

}

/* Menu Screen & MenuButton CSS */



.menu-home-butn {
  padding:0;
  margin-top: .5em;
  right: 6em;
  position: relative;
  font-family: Helvetica, sans-serif;
  color: black;
  font-size:1.5em;
  font-weight: 500;
}

.menu-container {
  display:flexbox;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 5em;
  font-weight:bold;
}

.menu-title{
  margin-bottom: 1em;
  color: #f47d26;
}

.main{
 margin-top:3em;
}

.main-but a {
  font-size: 1em;
  text-decoration: none;
  text-decoration-color: #f47d26;
  
}

.main-but:hover, .main-but:active{
  color: #f47d26;
  text-decoration: none;
}

 .main-but{
  text-align: center;
  width: 15em;
  height: 5em;
  margin-bottom: 1.25em;
  background-color: #243e90;
  border-radius: 25pt;
  color: white;
  text-align: center;
  padding: 1em;
  
 }
  
 .signup-but{
  width: 15em;
  height: 5em;
  margin-bottom: 1.25em;
  background-color: #243e90;
  border-radius: 25pt;
  color: white;
  font-weight:bold;
}


.login-but{
  width: 15em;
  height: 5em;
  margin-top:-6em;

  background-color: #243e90;
  border-radius: 25pt;
  color: white;
  font-weight:bold;
}

.use-home, .use-home:hover, .use-home:active{
  width: 15em;
  height: 5em;
  margin-bottom: 1.25em;
  background-color: #243e90;
  border-radius: 25pt;
  color: white;
  padding-top: 1.3em;
  text-decoration:none;
}

.copyright-code{
  margin-top: 3em;
  font-family: Arial, 'Helvetica';
}

.copyright{
  margin-top: 10em;
}

.fa-copyright{
  font-size: 1em;
}



/* Login & Sign-up CSS */

.sign-title{
  margin-bottom:1.75em;
}

.sign-page{
    margin-top: 5em;
  }

  .form-cntrl{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    padding-top: 0.375rem;
    padding-right: 0.75rem;
    padding-bottom: 0.375rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 2em;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition-property: border-color, box-shadow;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: 0s, 0s;
}



.btn:hover{background-color: #f47d26; }

.btn:active {
background-color: #243e90;
transform: translateY(4px);
}

.pw{
  margin-left: 60%;
}
.link{
  margin-left: 5%;
}

.forgot-title{
  display:flex;
  justify-content: center;
}

.page-login{
margin-top:10em;

}


/* UserHome CSS */






.vector{
    margin-top:5em;
    margin-bottom: 8px;
    border-radius: 300px;
    box-shadow: 5px 5px black;
}

.userhome-but{
  font-family: sans-serif;
  width: 100px;
  height: 100px;
  padding: 	10px 10px 10px 10px;
  margin-top: 1em;
  margin-bottom:1em;
  border: none;
  border-radius: 10px;
  background-color: #243e90;
  color: #fefefe;
  font-weight: bold;
  text-align: center;
}

.pro{
 margin-right: 2em;

}

.English{
text-align: center;

}

.play{
  margin-left: 2em;
}


p {
    font-family: sans-serif;
    margin-top: 20px;
    min-width: 20%;
}

#donate-button {
  background-color: #f5a74f;
  font-family: sans-serif;
  min-width: 50%;
  padding: 	10px;
  border: none;
  color: #fefefe;
  font-weight: bold;
  box-shadow: 5px 5px black;
  border-radius: 5px;
  
}

#donate-button:hover {
  background-color: #243e90;
  color: #fefefe;
}

.play-now{
  min-width: 100%;
  border: none;
  border-radius: 30px;
  background-color: #243e90;
  font-family: sans-serif;
  color: white;
  font-weight: bolder;
}

 .play-now:active{
  background-color: #f47d26;
}






/* English Instructions CSS */

.English-page{
  margin-top:4em;
}

.English-instruct {
  min-width: 100%;
  margin-top: 10px;
  border: none;
  border-radius: 30px;
  background-color: #243e90;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
}

.instructionss{
  margin-bottom:3em;
}


/* Spanish Instructions CSS */

.user-direct.regresar{

  padding: .1em;
 
}

.Spanish-instruct{
  padding:0; 
}

.Spanish-page{
  margin-top:4em;
}






/* Buttons CSS */


.btn {
     
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: white;
      background-color: #243e90;
      border: none;
      border-radius: 25px;       
}

.btn:hover, .btn:active {
  background-color: #f47d26;
  border:none;
  outline:none;
}


.spanish-btn {
  width: 30em;
}

.start{
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #f47d26;
  border: none;
  border-radius: 25px;
  margin-left: 1em;
  padding:.5em;
  }

  
  .start:hover{
      background-color: #f47d26;
  }
  
  .start:active{
      background-color: #243e90;
      transform: translateY(4px)
  }
  

  .signup{
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: #243e90;
    border: none;
    border-radius: 25px;
    margin-top: 15px;
    width:16em;
   
  }
  .signup:hover{
      background-color: #f47d26;
  }
  
  .signup:active{
      background-color: #243e90;
      transform: translateY(4px)
  }
  
  .Pw{
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: #243e90;
    border: none;
    border-radius: 25px;
    width: 100%;
    height: 30px;
    margin-top: 40px;
  }
  
  .Pw:hover{
      background-color: #f47d26;
  }
  
  .Pw:active{
      background-color: #243e90;
      transform: translateY(4px)
  }







/* Game & GameBoard CSS */



.menu-game-butn:hover, .menu-game-butn:active{
  color: #f47d26;
  text-decoration: none;
}

.fa-robot, .fa-user {
  font-size: .75em;

}

.menu-home-butn{
  font-size: 1.5em;
  left: .1px;
}


.score-board {
    margin: 20px auto;
    margin-top:1.5em;
    border: 3px solid black;
    width:80%;
    border-radius: 4px;
    text-align: center;
    font-size: 50px;
    padding: 15px 20px;
    color: #243e90;
    font-family: sans-serif;
    position: relative;
  background: transparent;
  
}


.score-board::before{   
transition: 0.5;

}


.score-board:hover:before{
left: -50%;
}


.badge {
background: #f47d26;
color: whitesmoke;
font-size: .75em;
font-family: sans-serif;
}


#user-label{
position: absolute;
color:white;
top: 25px;
left: -25px;
}

#computer-label{
position: absolute;
color:white;
top: 25px;
right: -23px;
}

.selectionButton{

  border-radius: 50%;
  padding: 10px;
  display: inline-block;
  margin: 0 30px 0 ;
  margin-top: -1em;
  margin-bottom:-1em;
  text-align: center;
  height: 100px;
  background: transparent;

}


.play-btn{

border-radius: 25px;
  background:#f47d26;
  color:#243e90;
  position: relative;
  bottom:.5em;
  top:1em;
  text-align: center;
  padding: 1em;

}

.who-win{
  font-family: 'Bungee', Helvetica, sans-serif;
  font-size: 1.4em;
}

.game-nav{
  margin-top:1.5em;
}

/* Hands CSS */

.hands{
  display:flex;
  justify-content: space-between;
  justify-content: center;
  margin-top: -1em;
}

.player-image{
  width: 15vmax;
  height: 15vmax;
  margin-bottom: 1em;
  margin-right: 1em;
  
}

.computer-hand {
  height: 15vmax;
  width: 15vmax;
}




/* MEDIA QUERIES */


@media screen and (min-width: 320px){



  .main{
    height: 15em;
    width: 15em;
    border-radius: 25px;
   
  }

  .start{
    width:90%;
    text-align: center;
  }

  .strt-butn{
    position: relative;
    left:2em;
    margin-top: 1em;
  }

  /* .page-login .form-cntrl {
    width: 97%;
    margin-left: .3em;

  } */

  .user-direct.Spanish-instruct, .user-direct.English-instruct{
      width:98%;
      margin-left: .03em;
      color:white;
      
  }

 .user-direct.regresar {
   width: 97%;
   margin-left: .03em;
 }








 

 
}

 




