@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');


* {
  box-sizing: border-box; 
  font-size: 1em;
}

html{
  display: flex;
  justify-content: center;
  width: 110vmin;
  height: 100vmin;
  
  }



body {
  background: #ffffff !important;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  width: 150vmin;
  height: auto;
}

.menu-container {
  display:inline-flexbox;
  justify-content: center;
  vertical-align: middle;
  height: auto;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

/* body, html, .App, #root, .auth-wrapper, .auth-inner, .form-control {
  width: 50vmax;
  height: 100vmax;
} */


.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;


}

.auth-inner, .App {
  display: flex;
  justify-content: center;
  width: auto;
  width: 100vmax;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
  
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1em;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  /* font-size: 13px; */
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}



/* Game Buttons CSS */



.sel-btns{
  display: flex;
  align-content: space-between;
  margin-top: 20px;
  margin-right:10px;
}

.play-btn {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  height: 12em;
  width: 15em;
  margin-top: 15px;
  padding: .2em;
}

.who-win{
  display:flex;
  justify-content: center;
  margin-top: 20px;
  font-family: Bungee;
  font-size: 1.25em;

}

.selectionButton{
  display:flex;
  margin-right:12px;

}

/* Hand Selection */

.fas {
  display: flex;
  justify-content: space-between;
  font-size: 10em;
  color: #ff8400;
}

.fa-hand-rock {
  margin-right: .25em;
}

.fa-hand-paper {
  margin-right: .25em;
}


/* Hands CSS */

.hands{
  display:flex;
  justify-content: space-between;
  justify-content: space-around;
  justify-content: center;
}

.player-image{
  width: 50vmax;
  height: 50vmax;
  margin-bottom: 1em;
  
}

.computer-hand {
  height: 50vmax;
  width: 50vmax;
}


/* Login & Sign-up CSS */


.row{
  display:flex;
  justify-content: center;
  

}




/* Buttons CSS */


.btn {
      display: flex;
      justify-content: center;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: white;
      background-color: #818285;
      border: none;
      border-radius: 25px;
      margin-top: 15px;   
}

.btn:hover, .btn:active {
  background-color: #ff8400;
  border:none;
  outline:none;
}


.spanish-btn {
  width: 30em;
}
 









/* Menu & MenuButton CSS */

.menu-btn {
  display:flex;
  position: relative;
  justify-content: left;
  background-color: white;
  margin-left:-1em;
  margin-bottom:2em;
  height:4em;
  width:4em;
  border-radius:25px;
  border-color:transparent;
  font-family: 'Quicksand', sans-serif;
  font-size: 2em;
}

.menu {
  display:flex;
  justify-content: center;
  
}

.menu-btn:hover, .menu-btn:active, .menu:hover, .menu:active {
  color:#ff8400;
}

button.menu-btn {
  margin:none;
}










/* MEDIA QUERIES */

@media  screen and(max-width: 320px) {

  body,html, .App, #root, .auth-inner, .row {
   width: 65vmax;
   height: 80vmax;
   font-size: .5em; 
  }

}

/* @media screen and(max-width: 479px) {

  body,html, .App, #root, .auth-wrapper, .row {
    width: 80vmax;
    height: 90vmax;
    font-size: .75em; 
   }
}
 */


 







